@{
    ViewData["Title"] = "Azure Event Grid Viewer";
}

<h1>
    <img src="~/images/eventgrid.png" height="47" width="90" alt="Azure Event Grid" />
    Azure Event Grid Viewer
</h1>

<!--<div><a href="#" id="clear-events">clear</a></div>-->
<hr />

<table id="grid-events" class="table table-striped">
  <thead>
    <th>&nbsp;</th>
    <th>Event Type</th>
    <th>Subject</th>
  </thead>
  <tbody id="grid-event-details"></tbody>
</table>

<script id="event-template" type="text/x-handlebars-template">  
	<tr data-toggle="collapse" data-target="#event-{{gridEventId}}" class="accordian-toggle">
        <td>        
            <button class="btn btn-primary btn-xs">
            <span class="glyphicon glyphicon-eye-open"></span>
        </button></td>
        <td>{{gridEventType}}</td>
        <td>{{gridEventSubject}}</td>
  </tr>
  <tr class="hiddenRow collapse" id="event-{{gridEventId}}">
        <td colspan="12" >
            <div class="accordian-body">
                <pre class="prettyprint lang-js">
                    {{gridEvent}}
                </pre>
            </div>
   	    </td>
    </tr>  
</script>

<div id="events-container"></div>

@section scripts {
    <script src="~/lib/signalr.min.js" type="text/javascript"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
    <script type="text/javascript">

        var hubConnection;
        var clearEvents;
        var events;
        var eventsTable;
               
        var clear = function(){
            console.log('clear');
            //events.innerHTML = '';
            $("#grid-events").find("tr:gt(0)").remove();
        }

        var addEvent = function(id, eventType, subject, eventTime, data){                
                var context = { 
                    gridEventType: eventType,
                    gridEventSubject: subject,
                    gridEventId: id,
                    gridEvent: data
                };                
                var source = document.getElementById('event-template').innerHTML;
                var template = Handlebars.compile(source);    
                var html = template(context);                
                $('#grid-event-details').prepend(html);             
        }
    
        var initialize = function(){            
            clearEvents = document.getElementById('clear-events');            
            //clearEvents.addEventListener('click', function(){
               //clear();
            //});
                
            hubConnection = new signalR.HubConnection('hubs/gridevents');
            hubConnection.start().then(function(){
                console.log('connection started');
            });
    
            hubConnection.on('gridupdate', function(id, eventType, subject, eventTime, data){
                addEvent(id, eventType, subject, eventTime, data);
            });
        };  

    
        $(document).ready(function(){            
            initialize();
        });        
    
    </script>

}
